html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
<!--
background-color : #12161d;
color : #ffffff;-->

.e-bigger {
    font-size: x-large;
}

/* Custom CSS */
.e-btn input[type="radio"] {
    display: none; /* Hide the default radio buttons */
}

.e-btn label {
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
}

/* Style for checked radio buttons */
.e-btn input[type="radio"]:checked + label {
    background-color:#eb740e; /* Danger color */
    color: #fff;
    border-color:#eb740e;
}

.e-btn-group.custom-rbt-group .e-btn {
    background-color: #212529; /* Change background color to navy blue */
    color: white; /* Change text color to white */
    border-color: #212529; /* Change border color to navy blue */
}

    .e-btn-group.custom-rbt-group .e-btn:nth-child(2) {
        background-color:#eb740e; /*Change background color to orange for the second radio button */
        color: white; /*Change text color to white */
        border-color:#eb740e; /*Change border color to orange */
    }

/*Calender*/
/*.e-calendar {
    background-color: peachpuff;
    border: 3px solid red;
}*/
.e-calendar .e-content td:hover span.e-day, .e-calendar .e-content td:focus span.e-day, .e-bigger.e-small .e-calendar .e-content td:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td:focus span.e-day {
    background-color: #eb740e;
    color: #ffffff;
}
.e-calendar .e-btn.e-today.e-flat.e-primary, .e-calendar .e-css.e-btn.e-today.e-flat.e-primary {
    background-color:#eb740e;
}

.e-calendar .e-content td.e-focused-date.e-today span.e-day {
    background-color:#eb740e;
    color: #fff;
}

.e-calendar .e-content td.e-focused-date.e-today span.e-day {
    background-color:#eb740e;
    color: #fff;
}
/********************/